@import url('https://fonts.googleapis.com/css2?family=VT323&family=Rubik+Glitch&family=Rubik+Wet+Paint&family=Rubik+Broken+Fax&family=Monoton&family=Black+Ops+One&family=Bungee&family=Bungee+Shade&family=Orbitron:wght@400;700&family=Audiowide&family=Press+Start+2P&family=Silkscreen:wght@400;700&family=UnifrakturCook:wght@700&family=Creepster&family=Nosifer&family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
/* ---------- Base ---------- */
html {
	font-size: 62.5%;
}

/* 1rem = 10px */

html,
body {
	background: #000;
	color: #33ff66;
	font-family: "VT323", monospace;
	text-shadow: 0 0 2px #33ff66;
	/* margin: 0;
	padding: 0; */
	cursor: none !important;
	
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}

/* ---------- Header ---------- */
header {
	text-align: center;
	margin: 4rem 0;
}

h1 {
	font-size: 300%;
	font-weight: 700;
	color: #33ff66;
	border-bottom: 2px solid #33ff66;
	display: inline-block;
	padding-bottom: 0.5rem;
	text-shadow: 0 0 4px #33ff66;
}

.intro {
	color: #aaa;
	font-size: 1.8rem;
}

/* ---------- Navigation ---------- */
nav.menu {
	cursor: none !important;
	background: #111;
	border-bottom: 1px solid #33ff66;
	text-align: left;
	padding: 0.8rem;
	cursor: none !important;
}


/* MENU*/
nav.menu,
nav.menu * {
	cursor: none !important;
}


nav.menu a {
	position: relative;
	display: inline-block;
	color: #33ff66;
	text-decoration: none;
	margin: 0 1rem;
	font-size: 1.6rem;
	transition: color .2s ease, text-shadow .2s ease;
	display: flex;
	justify-content: left;

}


nav.menu a .desc {
	position: absolute;
	left: 100%;
		top: 0;
		margin-left: .5rem;
		font-size: 1.2rem;
	color: #000;
	text-shadow: none !important;
	pointer-events: none;
	transition: color .2s ease;
}

nav.menu a.is-highlighted {
	background-color: #33ff66 !important;
	color: #000 !important;
	text-shadow: none !important;
	border-radius: 0px;
	box-shadow: 0 0 12px #33ff66;
	padding: 0 4px;
}



/* ---------- Grid ---------- */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	gap: 2rem;
	margin: 4rem 0;
}

/* ---------- Cards ---------- */
.card {
	cursor: none !important;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #111;
	border: 1px solid #33ff66;
	border-radius: 0rem;
	padding: 2.5rem 1.5rem;
	font-size: 1.8rem;
	font-weight: 600;
	text-decoration: none;
	color: #33ff66;
	text-shadow: 0 0 2px #33ff66;
	transition: all 0.2s ease;
}

.card:hover {
	background-color: #33ff66;
	color: #000;
	text-shadow: none;
	transform: translateY(-4px);
	box-shadow: 0 0 10px #33ff66;
}

/* Footer, j'avais mis ça au début mais si je le supprime mon titre est cassé */
footer {
	text-align: center;
	font-size: 1.4rem;
	color: #aaa;
	padding: 2rem;
	border-top: 1px solid #33ff66;
	margin-top: 4rem;
}

/* Typewriter, copie d'un site sur git */
.typewriter {
	font-size: 2rem;
	color: #33ff66;
	text-shadow: 0 0 2px #33ff66;
}

.typing-char {
	display: inline-block;
	background: #33ff66;
	color: #000;
	padding: 0 4px;
	border-radius: 2px;
	box-shadow: 0 0 12px #33ff66;
	transition: all 0.2s ease;
}

/* ---------- Curseur custom  j'ai demandé à mon collègue web dev des conseils ---------- */
.cursor {
	position: fixed;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #33ff66;
	box-shadow: 0 0 10px #33ff66, 0 0 16px #33ff66;
	pointer-events: none;
	mix-blend-mode: difference;
	transform: translate(-50%, -50%);
	transition:
	width .18s ease,
	height .18s ease,
	border-radius .18s ease,
	background-color .18s ease,
	box-shadow .18s ease;
	z-index: 9999;
}

.cursor.small {
	width: 10px;
	height: 10px;
	box-shadow: 0 0 3px #33ff66, 0 0 6px #33ff66;
}


.cursor.rect {
	border-radius: 1px;
	background: transparent !important;
	border: none;
	box-shadow: 0 0 0px #33ff66;
	mix-blend-mode: normal !important;
	/* important : évite l'inversion de couleur */
}

.cursor.word-rect {
	border-radius: 3px;
	background: transparent;
	border: 2px solid #33ff66;
	box-shadow: 0 0 10px #33ff66;
	mix-blend-mode: normal;
}




/* LABEL MENU */


.label { 
	/* outline: 2px solid pink; */
	display:none;
	width: 100%;
	text-align: center;
	}
	

a:hover  .label { 
	display: initial ;
	justify-content: flex-end;
}

/* It's 2 am, I want to sleep help */

body.citation-01 {
	font-family: "VT323", monospace;
}

body.citation-02 {
	font-family: "Rubik Glitch", system-ui;
}

body.citation-03 {
	font-family: "Rubik Broken Fax", system-ui;
}

body.citation-04 {
	font-family: "Rubik Wet Paint", system-ui;
}

body.citation-05 {
	font-family: "Monoton", system-ui;
}

body.citation-06 {
	font-family: "Black Ops One", system-ui;
}

body.citation-07 {
	font-family: "Bungee", system-ui;
}

body.citation-08 {
	font-family: "Bungee Shade", system-ui;
}

body.citation-09 {
	font-family: "Orbitron", system-ui;
}

body.citation-10 {
	font-family: "Audiowide", system-ui;
}

body.citation-11 {
	font-family: "Press Start 2P", monospace;
}

body.citation-12 {
	font-family: "Silkscreen", monospace;
}

body.citation-13 {
	font-family: "UnifrakturCook", serif;
}

body.citation-14 {
	font-family: "Creepster", system-ui;
}

body.citation-15 {
	font-family: "Cherry Bomb One", system-ui, sans-serif;
}

body.citation-16 {
	font-family: "Anton", system-ui, sans-serif;
}

/* Conseil, ne procrastinez pas */